body {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    background-color: black;
}

.nome {
    font-size: 25px;
    color: white;
}

img {
    width: 100px;
    height: 100px;
}

nav a {
    text-decoration: none;
    margin: 0 6px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}